.footer {
  position: relative;
  overflow: hidden;
  padding: 40px 0;

  @include breakpoint_xs() {
    padding: 20px 0;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(50%);
    background-image: url(../img/Rectangle54.png);
    width: 285px;
    height: 135px;
  }

  @include breakpoint_max(960px) {
    &::after {
      display: none;
    }
  }
}

.logo-with-text {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;

  @include breakpoint_xs() {
    padding: 0 0 10px;
    justify-content: center;
  }

  &__logo {
    width: 81px;
    height: 44px;
  }

  &__text {
    border-left: #E52232 1px solid;
    margin-left: 10px;
    padding-left: 18px;
  }
}

.contact {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  padding: 0 0 10px;

  @include breakpoint_xs() {
    padding: 10px 0 10px;
    justify-content: center;
  }

  &__text {
    padding-left: 15px;
  }

  &__link {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 113.3%;
    // or 17px
    color: #2B2D42;
  }
}

.footer-vector {
  @include breakpoint_xs() {
    padding: 10px 0 0;
    justify-content: center;
    text-align: center;
  }
}
